*{
    margin: 0;
    box-sizing: border-box;
}
.login{
    display: grid;
    background-color: aqua;
    text-align: center;
    justify-content: center;
}
.signup{
    display: grid;
    background-color: aqua;
    text-align: center;
    justify-content: center;
}
.form{
    display: grid;
    width: 20%;
}

th,td{
    border: 2px solid black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
}
table{
    border:2px solid black;
    width: 30%;
}
.stop{
    display: none;
}
.start {
    display: block;
}
